<div class="basket-main js-basket">
    <h2>{STR_BASKET}</h2>
    <p>{TXT_BASKET}</p>

    <div class="js-items{HIDDEN}">
        <table class="items">
            <thead>
                <tr>
                    <th>{STR_CAR}</th>
                    <th>{STR_RENT_DATE}</th>
                    <th>{STR_PRICE}</th>
                    <th>{STR_DETAILS}</th>
                    <th>{STR_DELETE}</th>
                </tr>
            </thead>

            <tbody>
                {ITEMS}
            </tbody>

            <tfoot>
                <td class="nomobile" colspan="2"><strong>{STR_TOTAL}</strong></td>
                <td>
                    <label><strong>{STR_TOTAL}</strong></label>
                    <span class="price"><span class="js-total-price">{TOTAL_PRICE}</span>{CURRENCY_SIGN}</span>
                </td>
                <td class="tar nomobile" colspan="2">&#160;</td>
            </tfoot>
        </table>

        <form class="js-frm-checkout" method="POST" action="">
            <div class="error"></div>
            <button class="{CLASS_LOGIN}">{STR_CHECKOUT}</button>
        </form>
    </div>
</div>