<tr class="js-item" 
	data-id="{ID}"
>
	<td>
		<label>{STR_CAR}</label>
		<span class="mobile-tac">{TITLE}<br/>
		<span class="small">{CATEGORY}</span></span>
	</td>
	<td>
		<label>{STR_RENT_DATE}</label>
    	<span>{DATE_FROM} - {DATE_TILL}</span>
	</td>
	<td>
		<label>{STR_PRICE}</label>
		<span class="price"><span class="js-price">{PRICE}</span>{CURRENCY_SIGN}</span>
	</td>
	<td>
		<label>{STR_TERMINATION_FEE}</label>
		<span class="price"><span class="js-termination-fee">{TERMINATION_FEE}</span>{CURRENCY_SIGN}</span>
	</td>
	<td>
		<label>{STR_TERMINATION_PRICE}</label>
		<span class="price"><span class="js-termination-price">{TERMINATION_PRICE}</span>{CURRENCY_SIGN}</span>
	</td>
</tr>